@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Arabic:wght@100;200;300;400;500;600;700&display=swap');
:root{
    --primary: #D9DFC6;
    --primary-hover: #bdc2ae;
    --secondary: #FFF2C2;
    --secondary-hover: #fceaa7;
}
body{
    margin: 0;
    font-family: "IBM Plex Sans Arabic", serif;
}

.container{
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
}
/* SMALL */
@media (min-width:768px) {
    .container{
        width: 700px;
    }
}
/* MEDIUM */
@media (min-width:992px) {
    .container{
        width: 900px;
    }
}
/* LARGE */
@media (min-width:1200px) {
    .container{
        width: 1000px;
    }
}


.landing{
    background: var(--primary);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.landing .container .hero{
    margin: 0;
    text-align: center;
}
.landing .container .hero p{
    line-height: 1.6;
    margin-left: 50px;
    margin-right: 50px;
}
.landing .container .hero button{
    border: none;
    padding: 5px 10px;
    border-radius: 6px;
    background: var(--secondary) ;
    font-family: "IBM Plex Sans Arabic", serif;
    cursor: pointer;
    transition: 0.5s;
    position: relative;
}
.landing .container .hero button::after{
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50% , -50%);
    background: var(--secondary);
    padding: 5px 10px;
}
.clicks{
    color: var(--secondary);
    transform: scale(100) ;
}
.landing .container .hero button:hover{
    background: var(--secondary-hover) ;
    box-shadow: 1px 1px 20px #00000026;
}
.form{
    background: var(--secondary);
    /* height: 100vh; */
    display: flex;
    justify-content: center;
    align-items: center;
}

.tellUs{
    /* text-align: right; */
    /* direction: rtl; */
    font-size: 30px;
}
.tellUs h3 {
    margin-bottom: 0;
}
.tellUs p{
    margin: 0;
    font-size: 20px;
}

.radio-group{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.input-container{
    position: relative;
    height: 7rem;
    width: 7rem;
    margin: 0.5rem;
}

.input-container input{
    position: absolute;
    height: 100%;
    width: 100%;
    margin: 0;
    left: 0;
    cursor: pointer;
    z-index: 2;
    opacity: 0;
}

.input-container .radio-title{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    border: 2px solid var(--primary);
    border-radius: 8px;
    padding: 10px 15px;
    transition: all 300ms ease;
}
.costs{
    /* text-align: right; */
    font-size: 20px;
    margin: 0;
    font-weight: bold;
}
.input-container .radio-title p{
    font-size: 30px;
    margin: 0;
}
.input-container label {
    font-size: 16px;

}

.input-number input{
    font-family: "IBM Plex Sans Arabic", serif;
    width: 90%;
    padding: 10px 15px;
    font-size: 15px;
    /* text-align: right; */
    border-radius: 5px;
}

input:checked + .radio-title{
    background: var(--primary);
    box-shadow: 0 0 12px var(--primary);
}

.submit{
    display: flex;
    justify-content: center;
    padding-top: 40px;
    margin-bottom: 40px;
}

.submit button{
    padding: 10px 15px;
    border: none;
    font-family: "IBM Plex Sans Arabic", serif;
    border-radius: 5px;
    font-size: 16px;
    background: var(--primary);
    cursor: pointer;
    transition: 0.4s ease;
}

.submit button:hover{
    transform: scale(1.2);
    background: var(--primary-hover);
}


/* plan */

.plan{
    padding-top: 80px;
    background: var(--primary);
}
.plan .container .plan-content .city-img img{
    width: 100%;
    height: 300px;
    object-fit: cover;
    border-radius: 10px;
    background-color: var(--secondary);
    padding: 5px;
}
.plan .container .plan-content .text{
    display: flex;
    justify-content: space-between;
}
.plan .container .plan-content .text h3{
    background: var(--secondary);
    padding: 5px;
    border-radius: 10px;
}
.plan .container .plan-content .cards .card {
    padding: 5px 15px;
    background: var(--secondary);
    border-radius: 10px;
    transition: 0.5s;
}
.plan .container .plan-content .cards .card:hover {
    background: var(--secondary-hover);
    box-shadow: 1px 1px 20px #00000026;
    
}
.plan .container .plan-content .cards .card .title{
    display: flex;
    justify-content: space-between;
    gap: 10px;
}
/* .plan .container .plan-content .cards .card .details{
    display: flex;
} */
.plan .container .plan-content .cards{
    display: flex;
    /* grid-template-columns: repeat(auto-fill , minmax(300px, 1fr)); */
    gap: 20px;
    padding-bottom: 90px;
    overflow: auto;
}





